/* h3g specific css (used in conjuction with bootstrap css)
*/
 
.h3g_link:hover {
    cursor: pointer;  
	text-decoration: underline;
	color: blue;
}

.nf-green {
	color: green;
}

.nf-amber {
	color: #FFa500;
}

.nf-red{
	color: red;
}
